<launch>

  <!-- Gmapping & Map Matching -->
  <include file="$(find asl_pepper_gmapping)/launch/gmapping.launch" >
    <arg name="output" value="log"/>
  </include>

  <!-- Patroller -->
  <node pkg="asl_pepper_motion_planning" type="patroller"
    name="patroller" args="" output="screen" >
<!--     <param name="static_frame" value="reference_map"/> -->
    <param name="static_frame" value="gmap"/>
    <param name="robot_frame" value="base_footprint"/>
    <param name="goal_reached_radius" value="0.5"/>
  </node>

  <!-- Global Path Planning -->
  <node pkg="asl_pepper_motion_planning" type="global_planner"
    name="global_planner" args="--hz" output="log" >
    <param name="reference_map_name" value="/gmap"/>
    <param name="reference_map_folder" value="rostopic"/>
    <param name="reference_map_frame" value="gmap"/>
  </node>

<!--   NavRep Planner -->
<!--   _________________________________________________- -->

  <node pkg="ros_run_command" type="ros_run_command" name="navrep3d_node" output="screen"
    args="python ~/Code/cbsim/navrep3d/navrep3d_ros/scripts/navrep3d_node"
  />

  <node pkg="rviz" type="rviz" name="rviz" output="log"
    args="-d $(find asl_pepper_gmapping)/../rviz/live_navrep3d.rviz"
  />


</launch> 
